.custom-nav > li.nav-active.menu-default > a,
.custom-nav > li.nav-active.menu-default > a:hover { background-image: none; }

.form-signin input[type="email"] {
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaec;
    background: #eaeaec;
    box-shadow: none;
    font-size: 12px;
}
i.ion{
  font-size:18px ;
  margin-right: 10px ;
}
